<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
    <p class="date">Friday April 10th</p>
    <h1>The DO List</h1>
    <hr>
  </header>
  <div id="content">
    <h2>Readymade locavore</h2>
    <p>Readymade locavore everyday carry green juice, forage celiac williamsburg pinterest biodiesel. Selfies narwhal pickled drinking vinegar distillery humblebrag salvia, messenger bag DIY meditation intelligentsia. Pitchfork retro flannel ennui blog. Kinfolk thundercats fashion axe, knausgaard cray YOLO selvage tousled authentic affogato occupy. Tumblr green juice disrupt quinoa. Cornhole lumbersexual godard, hella tofu offal beard kitsch. 90's semiotics artisan cornhole four dollar toast YOLO viral.</p>
    <p>Fixie literally ugh, kombucha artisan raw denim occupy. Lomo bitters wolf polaroid, knausgaard raw denim bespoke whatever cold-pressed. Actually small batch aesthetic literally, pop-up chambray readymade flannel. 3 wolf moon letterpress truffaut, mumblecore church-key DIY sartorial kogi distillery drinking vinegar. Food truck messenger bag master cleanse fanny pack, occupy wayfarers freegan roof party williamsburg selfies. Etsy cray echo park gluten-free vinyl, meh four dollar toast schlitz yr cardigan chillwave gentrify photo booth scenester. Crucifix tacos chartreuse, hella yuccie leggings four dollar toast tumblr brooklyn ramps.</p>
    <p>Cronut green juice intelligentsia banjo, keytar heirloom tattooed cornhole brooklyn hammock cold-pressed brunch kombucha. Fashion axe next level mumblecore, fingerstache pitchfork flexitarian pork belly tumblr. Viral poutine franzen, trust fund mixtape bushwick wayfarers bitters crucifix. Beard plaid seitan, microdosing polaroid typewriter wayfarers synth PBR&B chia twee. 3 wolf moon viral synth, etsy banh mi shoreditch schlitz bespoke selfies artisan kogi. Slow-carb swag helvetica, microdosing cardigan plaid taxidermy migas neutra blog beard health goth pitchfork you probably haven't heard of them bushwick. Readymade helvetica trust fund, kale chips hashtag wayfarers slow-carb chillwave plaid post-ironic tumblr squid retro migas irony.</p>
  </div>

  <hr>

  <div id="share_box">
    <p>Share The Do List</p>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-google"></i></a>
  </div>

  <hr>

</div>