<footer id="main_footer">
	<p class="copyright">&copy;2015 Mackenzie Child</p>
	<nav>
		<a href="#"><i class="fa fa-facebook"></i></a>
		<a href="#"><i class="fa fa-twitter"></i></a>
		<a href="#"><i class="fa fa-google"></i></a>
	</nav>
</footer>