<header id="main_navigation" class="clearfix">
	<a href="/" class="name">Mackenzie Child</a>
	<nav>
		<a href="<%= articles_path %>">Articles</a>
		<a href="#">Projects</a>
		<a href="<%= contact_path %>">Contact</a>
	</nav>
</header>